<p id="notice"><%= notice %></p>

<h1>Mail Contents</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_contents.each do |mail_content| %>
      <tr>
        <td><%= mail_content.subject %></td>
        <td><%= mail_content.content %></td>
        <td><%= link_to 'Show', mail_content %></td>
        <td><%= link_to 'Edit', edit_mail_content_path(mail_content) %></td>
        <td><%= link_to 'Destroy', mail_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail Content', new_mail_content_path %>
